/*     CSS custom properties     */

:root {

	//Colors	
	--primery: #3498db;
	--white: #fff;
	--bg: #f5f6f8;
	--dark: #16315c;
	--grey100: #f6fafe;
	--grey200: #8ea1b4;
	--grey300: #2775a9;

	//Indents
	--side-indent: 53px;

}